# node / build
node_modules/
dist/
.vite/
.cache/
*.log

# env & локальные файлы
.env
.env.*
*.local

# загрузки и база
uploads/
*.db
*.db-*

# редакторы/OS
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
